<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Lesson1｜HTML5_CSS_MODERN_CODING</title>
  <link rel="stylesheet" href="./css/main.bundle.css">
</head>
<body>
  <header class="header">
    header
  </header>
  <div class="wrapper clearfix">
    <main class="main">
      main
    </main>
    <div class="sidemenu">
      sidemenu
    </div>
  </div>
  <footer class="footer">
    footer
  </footer>
  <script src="./js/top.bundle.js"></script>
</body>
</html>
