<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>familiar-note</title>
  <link rel="stylesheet" href="./css/main.bundle.css">
</head>
<body>
  <div>ejs-cli作るか。。。</div>
  <div>
    <%- include('./_partical/bar') %>
  </div>
  <script src="./js/top.bundle.js"></script>
</body>
</html>
