<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Lesson1｜HTML5_CSS_MODERN_CODING</title>
  <link rel="stylesheet" href="./css/main.bundle.css">
</head>
<body>
  <header class="header">
    <h1 class="logo">
      <a href="/">Sample Site</a>
    </h1>
    <nav class="global-nav">
      <li class="nav-item active"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#">About</a></li>
      <li class="nav-item"><a href="#">News</a></li>
      <li class="nav-item"><a href="#">Topics</a></li>
      <li class="nav-item"><a href="#">Docs</a></li>
      <li class="nav-item"><a href="#">Blog</a></li>
    </nav>

  </header>
  <div class="wrapper clearfix">
    <main class="main">
      main
    </main>
    <div class="sidemenu">
      sidemenu
    </div>
  </div>
  <footer class="footer">
    footer
  </footer>
  <script src="./js/top.bundle.js"></script>
</body>
</html>
